<ul class="items trips">
    <li ng-repeat="ti in $ctrl.trips"
        ng-class="{selected: $ctrl.isCurrentTrip($index)}">
      <a ng-click="$ctrl.tripClicked($index)">
        <img ng-src="{{ti.image_content_url}}?width=100"/>
        <span class="id trip_id">{{ti.id}}</span>
        <span class="name">{{ti.name}}</span> 
        <span class="name">{{ti.description}}</span> 
        <!-- <span class="distance" ng-if="ti.distance">({{ti.distance | number:1 }} miles)</span> -->
      </a>
      <br>
      <span style="font-size: 1.1em; font-weight: bold;">Stops:</span>
      <ul>
        <li ng-repeat="thing_id in ti.thing_ids">
          {{$ctrl.getThing(thing_id)}}
        </li>
      </ul>
    </li>
  </ul>